body{
    background-color: aqua;
}
.nav{

    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    
}
.nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
  }
  .child {
    width: 40%;
  }